flows.json
[{"id":"f0daf366.906ad","type":"tab","label":"Map Tweets","disabled":false,"info":""},{"id":"2828703c.beeee","type":"change","z":"f0daf366.906ad","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":480,"wires":[["f9cbc3a0.599de8","3722e544.50865a","29b95e5c.19bb22"]]},{"id":"7ebc1b7d.a5363c","type":"debug","z":"f0daf366.906ad","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.iconColor","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":720,"wires":[]},{"id":"3722e544.50865a","type":"switch","z":"f0daf366.906ad","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":920,"y":680,"wires":[["7891287f.0106c8"],["a03eea5d.a3851"],["e5d6ca58.393788"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"7891287f.0106c8","type":"change","z":"f0daf366.906ad","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"grey","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":600,"wires":[["75ba5407.0e754c","7ebc1b7d.a5363c"]]},{"id":"a03eea5d.a3851","type":"change","z":"f0daf366.906ad","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":660,"wires":[["75ba5407.0e754c","7ebc1b7d.a5363c"]]},{"id":"e5d6ca58.393788","type":"change","z":"f0daf366.906ad","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":720,"wires":[["75ba5407.0e754c","7ebc1b7d.a5363c"]]},{"id":"637b9158.b22de8","type":"twitter in","z":"f0daf366.906ad","twitter":"","tags":"#COVID-19,#covid,#covid-19,#corona","user":"false","name":"","inputs":1,"x":70,"y":300,"wires":[["3763ee9f.464462"]]},{"id":"e17bdf55.7b25b","type":"inject","z":"f0daf366.906ad","name":"Example","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"created_at\":\"Mon May 13 03:58:11 +0000 2019\",\"id\":1127785082603941900,\"id_str\":\"1127785082603941888\",\"text\":\"RT @johnwalicki: #CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.c…\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"Paramus,NJ\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2521,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Mon May 13 03:23:08 +0000 2019\",\"id\":1127776262246862800,\"id_str\":\"1127776262246862848\",\"text\":\"#CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.co/cCmE7WyFUj\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"New Jersey, USA\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2520,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":1,\"favorite_count\":1,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[0,12]},{\"text\":\"NodeRED\",\"indices\":[71,79]}],\"urls\":[{\"url\":\"https://t.co/cCmE7WyFUj\",\"expanded_url\":\"https://developer.ibm.com/callforcode/blogs/use-node-red-and-ai-to-analyze-social-media-after-a-disaster\",\"display_url\":\"developer.ibm.com/callforcode/bl…\",\"indices\":[111,134]}],\"user_mentions\":[{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[36,49]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[50,62]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\"},\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[17,29]},{\"text\":\"NodeRED\",\"indices\":[88,96]}],\"urls\":[],\"user_mentions\":[{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[3,15]},{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[53,66]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[67,79]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1557719891583\"}","payloadType":"json","x":200,"y":120,"wires":[["66017f05.4d9dc8"]]},{"id":"91b409a1.b3e178","type":"sentiment","z":"f0daf366.906ad","name":"","property":"payload","x":960,"y":460,"wires":[["2828703c.beeee","ae77c3f.d2baac"]]},{"id":"66017f05.4d9dc8","type":"change","z":"f0daf366.906ad","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"tweet.text","pt":"msg","to":"tweet.tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[["207bc05e.155f8"]]},{"id":"f9cbc3a0.599de8","type":"debug","z":"f0daf366.906ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":480,"wires":[]},{"id":"207bc05e.155f8","type":"function","z":"f0daf366.906ad","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["ca9257fb.843468"]]},{"id":"5362f257.2adb6c","type":"function","z":"f0daf366.906ad","name":"Tweet URL","func":"msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":400,"wires":[["919abb24.d5adc8"]]},{"id":"919abb24.d5adc8","type":"ui_template","z":"f0daf366.906ad","group":"2b0384a1.bf8e2c","name":"Open Tweet","order":8,"width":5,"height":1,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1170,"y":400,"wires":[[]]},{"id":"d0f23c1c.0c8ec","type":"ui_text","z":"f0daf366.906ad","group":"2b0384a1.bf8e2c","order":5,"width":11,"height":2,"name":"Tweet Text","label":"@{{msg.store.sender}}","format":"{{msg.payload}}","layout":"col-center","x":970,"y":520,"wires":[]},{"id":"cbb60347.be9d18","type":"ui_gauge","z":"f0daf366.906ad","name":"","group":"2b0384a1.bf8e2c","order":6,"width":14,"height":4,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1430,"y":440,"wires":[]},{"id":"ae77c3f.d2baac","type":"change","z":"f0daf366.906ad","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":440,"wires":[["cbb60347.be9d18","c3d5de45.838268"]]},{"id":"c3d5de45.838268","type":"debug","z":"f0daf366.906ad","name":"Sentiment Score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1450,"y":400,"wires":[]},{"id":"ca9257fb.843468","type":"switch","z":"f0daf366.906ad","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":160,"wires":[["ca91cbd1.4e05f8"]]},{"id":"ca91cbd1.4e05f8","type":"change","z":"f0daf366.906ad","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"sk.eyJ1Ijoia2lsbGVycnF1ZWVubjAxIiwiYSI6ImNrbGdrNHBscTFncHAyem1nMjJwczk2YWQifQ.o84UFTxpZ0t8joS0naDmag","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":280,"wires":[["1c6ce83a.25376","38a7059d.36f7d2"]]},{"id":"1c6ce83a.25376","type":"http request","z":"f0daf366.906ad","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":300,"wires":[["78614fe8.ddb978"]]},{"id":"78614fe8.ddb978","type":"json","z":"f0daf366.906ad","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":300,"wires":[["80f0080d.ae9898"]]},{"id":"80f0080d.ae9898","type":"change","z":"f0daf366.906ad","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":460,"wires":[["5362f257.2adb6c","91b409a1.b3e178","d0f23c1c.0c8ec"]]},{"id":"38a7059d.36f7d2","type":"debug","z":"f0daf366.906ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":180,"wires":[]},{"id":"75ba5407.0e754c","type":"worldmap","z":"f0daf366.906ad","name":"","lat":"","lon":"","zoom":"","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"","x":1410,"y":600,"wires":[]},{"id":"3763ee9f.464462","type":"delay","z":"f0daf366.906ad","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":300,"wires":[["dedfc3be.c0333"]]},{"id":"a958fc1f.b7eb2","type":"function","z":"f0daf366.906ad","name":"Extract Twitter Image URL","func":"msg.payload = \"\";\nif (typeof msg.tweet.entities.media !== 'undefined') {\n  if (typeof msg.tweet.entities.media[0].media_url !== 'undefined') {\n    msg.payload = msg.tweet.entities.media[0].media_url;\n  }  \n}\n\nif (typeof msg.tweet.extended_tweet !== 'undefined') {\n    if (typeof msg.tweet.extended_tweet.entities !== 'undefined') {\n        if (typeof msg.tweet.extended_tweet.entities.media !== 'undefined') {\n            if (typeof msg.tweet.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                msg.payload = msg.tweet.extended_tweet.entities.media[0].media_url_https;\n            }\n        }\n    }\n}\n\nif(typeof msg.tweet.retweeted_status !== 'undefined') {\n    if( typeof msg.tweet.retweeted_status.extended_tweet !== 'undefined') {\n        if( typeof msg.tweet.retweeted_status.extended_tweet.entities !== 'undefined') {\n            if( typeof msg.tweet.retweeted_status.extended_tweet.entities.media !== 'undefined') {\n                if( typeof msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url !== 'undefined') {\n                    msg.payload = msg.tweet.retweeted_status.extended_tweet.entities.media[0].media_url;\n                }\n            }\n        }\n    }\n}\n\n\nif( msg.payload.length ) {\n    msg.template = \"<img width=\\\"300\\\" height=\\\"300\\\" alt=\\\"Twitter Image\\\" src=\\\"\"+msg.payload+\"\\\">\";\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","x":370,"y":760,"wires":[["e8f5dc59.d8696","48b35c12.f40614"],[]]},{"id":"e8f5dc59.d8696","type":"ui_template","z":"f0daf366.906ad","group":"cf79ae82.da0ad","name":"Photo of the tweet","order":1,"width":12,"height":7,"format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":750,"y":760,"wires":[[]]},{"id":"48b35c12.f40614","type":"visual-recognition-v3","z":"f0daf366.906ad","name":"","vr-service-endpoint":"https://api.eu-de.visual-recognition.watson.cloud.ibm.com/instances/54c20bf1-33da-4bbe-8ab7-1c5ab79c0d93","image-feature":"classifyImage","lang":"en","x":590,"y":880,"wires":[["8679564c.f89308"]]},{"id":"8679564c.f89308","type":"function","z":"f0daf366.906ad","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    //The Lite Plan allows users to make 7,500 API calls for free\n    // Daily limit is  (up to 250 calls per day) \n    // {\"status\":\"ERROR\",\"statusInfo\":\"Key is over transaction limit\"}\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":880,"wires":[["3d665be8.1b0794"]]},{"id":"3d665be8.1b0794","type":"ui_template","z":"f0daf366.906ad","group":"cf79ae82.da0ad","name":"Results Table","order":3,"width":12,"height":9,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":880,"wires":[[]]},{"id":"dedfc3be.c0333","type":"ui_switch","z":"f0daf366.906ad","name":"","label":"Enable / Disable","tooltip":"","group":"2b0384a1.bf8e2c","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":480,"y":300,"wires":[["207bc05e.155f8","a958fc1f.b7eb2"]]},{"id":"a7a8c27e.fa9e5","type":"inject","z":"f0daf366.906ad","name":"Init Dashboard","repeat":"","crontab":"","once":true,"topic":"","payload":"true","payloadType":"bool","x":220,"y":40,"wires":[["40e3328.26d34cc"]]},{"id":"40e3328.26d34cc","type":"function","z":"f0daf366.906ad","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":40,"wires":[["b1a9752.6d55188"]]},{"id":"b1a9752.6d55188","type":"template","z":"f0daf366.906ad","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=1300px ></iframe>","x":690,"y":40,"wires":[["d39e49b9.423638"]]},{"id":"d39e49b9.423638","type":"ui_template","z":"f0daf366.906ad","group":"2b0384a1.bf8e2c","name":"Embedded Map","order":4,"width":25,"height":6,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":940,"y":40,"wires":[[]]},{"id":"29b95e5c.19bb22","type":"cloudant out","z":"f0daf366.906ad","name":"","cloudant":"","database":"bdd-tsa","service":"node-red-izrig-2021--cloudant-1612799360654-12217","payonly":false,"operation":"insert","x":1470,"y":540,"wires":[]},{"id":"2b0384a1.bf8e2c","type":"ui_group","name":"Global Tweet Map","tab":"2353da31.44f89e","order":1,"disp":false,"width":"25","collapse":false},{"id":"cf79ae82.da0ad","type":"ui_group","name":"Global Tweets","tab":"2353da31.44f89e","order":2,"disp":false,"width":25,"collapse":false},{"id":"2353da31.44f89e","type":"ui_tab","name":"Tweet analysis dashboard","icon":"dashboard","order":4,"disabled":false,"hidden":false}]